<!DOCTYPE html>
<html>
<head>
    <title>MindDue | Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="hero">
    <h1>🧠 MindDue</h1>
    <p>Create your account</p>
</div>

<div class="card">
    <h2>Register</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Create username" required>
        <input type="password" name="password" placeholder="Create password" required>
        <button type="submit">Create Account</button>
    </form>
</div>

</body>
</html>
